* {
    font-family: monospace;
    padding: 2px;
}

h1 {
    margin: 0;
}

header {
    background: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
}

.squadList {
    ul {
        display: grid;
        grid-template-areas:". . a . ."
                            ". b . c ."
                            "d . e . f";
        gap: 10px;
    }

}

.squad {

    width: auto;
    height: auto;
    background: lightseagreen;
    text-align: center;
    border-radius: 5px;
    ul {
        display: block;
        list-style: none;
        padding-left: 0;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.score{
    font-size: 2em;
    color: darkred
}

.squad:nth-child(1) { grid-area: a }
.squad:nth-child(2) { grid-area: b }
.squad:nth-child(3) { grid-area: c }
.squad:nth-child(4) { grid-area: d }
.squad:nth-child(5) { grid-area: e }
.squad:nth-child(6) { grid-area: f }