* {
    font-family: monospace;
    padding: 2px;
}

header {
    background: white;
    text-align: center;
    font-size: 2em;
}

.studentList {
    ul {
        display: grid;
        grid-template-areas:". . a . ."
                            ". b c d ."
                            "e f g h i";
        gap: 10px;
    }

}

.student {
    width: auto;
    height: auto;
    background: lightseagreen;
    text-align: center;
    border-radius: 5px;
    ul {
        display: block;
        list-style: none;
        padding-left: 0;
    }
}

.student:nth-child(1) { grid-area: a }
.student:nth-child(2) { grid-area: b }
.student:nth-child(3) { grid-area: c }
.student:nth-child(4) { grid-area: d }
.student:nth-child(5) { grid-area: e }
.student:nth-child(6) { grid-area: f }
.student:nth-child(7) { grid-area: g }
.student:nth-child(8) { grid-area: h }
.student:nth-child(9) { grid-area: i }

